# directories

data/speaker0/*
data/speaker1/*
models/*
config/*
venv/
dataset/
__pycache__/
.vscode/



# Ignore these "placeholder" files

!data/.gitkeep
!data/speaker0/.gitkeep
!data/speaker1/.gitkeep
!models/.gitkeep
!config/.gitkeep




# files

sample.ipynb
improvments.md
sample.py
*.pyc
