# ========================================================================
#  Author: Muhd Uwais
#  Name: EchoID
#  Project: Deep Voice Speaker Recognition CNN
#  Purpose: Project Configuration file for CNN speaker recognition model.
#  License: MIT
# ========================================================================

version: v9

# ---------------------Project Information--------------------

project:
  name: EchoID
  description: A CNN model for binary speaker recognition using mel-spectrogram 
    inputs.
  author: Muhd Uwais

# -------------------Model Configuration----------------------

model:
  # Input shape of mel-spectrograms (Height, Width, Channels),
  # Change according to duration of audio chunks
  input_shape: [64, 188, 1]

  # Number of convolutional filters for each Conv2D layer
  filters: [32, 64, 128]

  # Fully connected layer units
  dense_units: [512]

  # Dropout rates applied after layers (to prevent overfitting)
  dropout_rates: [0.25, 0.25, 0.3, 0.5]

  # Max pooling sizes for each MaxPooling2D layer
  max_pool_sizes: [2, 2, 2]

  # Kernel sizes for each Conv2D layer
  kernel_sizes: [3, 3, 3]

  # Model compilation parameters
  loss: binary_crossentropy
  optimizer: adam
  metrics: ["accuracy"]

# -----------------Training Configuration---------------------

training:
  # Data loading parameters
  batch_size: 32
  epochs: 20
  validation_split: 0.2

  # Early stopping configuration — stops training when val_loss doesn’t improve
  early_stopping:
    enable: true
    monitor: val_loss
    patience: 7
    restore_best_weights: true
    start_from_epoch: 3

  # Learning rate scheduler — reduces learning rate when val_loss plateaus
  reduce_lr:
    enable: true
    monitor: val_loss
    factor: 0.5
    patience: 4
    min_lr: 1e-6

# -----------------Inference Configuration---------------------

inference:
   # need to be same of the chunk duration used in training
  sample_rate: 16000
  threshold: 0.7

# -------------------------File Paths-------------------------

paths:
  # Directory to save trained models and weights
  save_dir: models/cnn_model_v9/
